@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  font-family: 'Acme', sans-serif;
  font-size: larger;
  background-color: lightgreen;
}

.AppCss{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TitleCss{
  position: fixed;
  text-align: center;
}

/* .HomeCss, .GameCss{
  padding: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
} */

.linkCss{
  padding: 15px;
  font-size: 30px;
}

.listCss{
  text-align: center;
  font-size: 35px;
  padding: 50px;
  list-style-type: none;
}

.imageCss{
  width: 125px;
  margin-top: -15px;
  background-color: transparent;
}

.emptyBox{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid black;
  background-image: linear-gradient(to top, black , gray);
}

.timerCss{
  display: flex;
  justify-content: space-around;
}